.button {
	--button-padding-horiz: 32px;
	--button-padding-vert: 20px;
	--button-padding-offset: 0;
	--counter-text: var(--button-background);
	--counter-background: var(--button-text);
	--waiting-color: var(--button-text);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: calc(var(--button-padding-vert) - var(--button-padding-offset))
		calc(var(--button-padding-horiz) - var(--button-padding-offset));
	color: var(--button-text);
	font: var(--font-xxxs-bold);
	background: var(--button-background);
	border: none;
	border-radius: 6px;
	outline: none;
}

.button[data-count]::after {
	min-width: 7px;
	margin-left: 8px;
	padding: 0 5px;
	color: var(--counter-text);
	font: inherit;
	background: var(--counter-background);
	border-radius: 18px;
	content: attr(data-count);
}

.button:disabled {
	opacity: 0.6;
}

.button:not(:disabled, :active):focus {
	--button-padding-offset: 2px;
	border: 2px solid var(--button-border-focus);
}

.button:not(:disabled):active {
	background: var(--button-background-active);
}

.button:not(:disabled):hover {
	background: var(--button-background-hover);
	cursor: pointer;
}

.rounded {
	--button-padding-horiz: 24px;
	--button-padding-vert: 12px;
	border-radius: calc(var(--button-padding-vert) * 2);
}

.colorPrimary {
	--button-background: var(--color-btn-primary);
	--button-background-active: var(--color-btn-primary-dark);
	--button-background-hover: var(--color-btn-primary-light);
	--button-border-focus: var(--color-btn-primary-dark);
	--button-text: var(--color-text-nav-primary);
}

.colorBlue {
	--button-background: var(--color-btn-blue, blue);
	--button-background-active: var(--color-btn-primary-light);
	--button-background-hover: var(--color-btn-primary);
	--button-border-focus: var(--color-btn-primary);
	--button-text: var(--color-text-nav-primary);
}

.colorSecondary {
	--button-background: var(--color-btn-secondary);
	--button-background-active: var(--color-btn-primary-light);
	--button-background-hover: var(--color-btn-primary);
	--button-border-focus: var(--color-btn-primary);
	--button-text: var(--color-text-nav-primary);
}

.colorOutline {
	--button-padding-offset: 1px;
	--button-background: transparent;
	--button-background-active: transparent;
	--button-background-hover: transparent;
	--button-border-focus: var(--color-text-secondary-light);
	--button-text: var(--color-text-primary);
	--counter-text: var(--color-text-nav-primary);
	--waiting-color: var(--color-text-nav-secondary);
	border: 1px solid var(--color-text-nav-secondary);
}

.colorOutline:not(:disabled):active {
	--button-text: var(--color-btn-primary-light);
	--button-padding-offset: 1px;
	border: 1px solid var(--color-btn-primary-light);
}

.colorOutline:not(:disabled):hover {
	--button-text: var(--color-btn-primary);
	--button-padding-offset: 1px;
	border: 1px solid var(--color-btn-primary);
}

.countAccent {
	--counter-text: var(--color-text-nav-primary);
	--counter-background: var(--accent);
}
